*{
    font-family: 'Fugaz One', cursive;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content:space-around;
    align-items:center;
}
.h1_wrapper {
    text-decoration: none;
}
h1{
    font-family: 'Shrikhand', cursive;
    font-size: 4.5rem;

    /* font gradient */
    background: -webkit-linear-gradient(rgb(129,232,233), rgb(146, 234, 140));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 1.5rem;

}
.ul_nav{
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.header_li{
    list-style-type: none;
}
.header_a{
    /* text alignment */
    display: flex;
    justify-content: center;
    align-items:center;

    /* text */
    font-family: 'Shrikhand', cursive;
    font-size: 1.5rem;
    text-decoration: none;

    /* box */
    margin-left: 3rem;
    height: 3rem;
    width: 9rem;
    border-radius: .5rem;

    /* font gradient */
    background: -webkit-linear-gradient(rgb(129,232,233), rgb(146, 234, 140));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header_a:hover {
    -webkit-text-fill-color: white;
    background: -webkit-linear-gradient(rgb(129,232,233), rgb(146, 234, 140));
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h2_container{
    position: relative;
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
}
.main_h2_1{
    font-size: 5rem;
    display: block;
    padding: 1.5rem 2.5rem;

    /* font gradient */
    background: -webkit-linear-gradient(left, rgb(129,232,233), rgb(146, 234, 140));
    background: -o-linear-gradient(right, rgb(129,232,233), rgb(146, 234, 140));
    background: -moz-linear-gradient(right, rgb(129,232,233), rgb(146, 234, 140));
    background: linear-gradient(to right, rgb(129,232,233) , rgb(146, 234, 140)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.main_h2_2{
    font-size: 5rem;
    padding: 1.5rem 2.5rem;
    color:white;

    /* background gradient/ style */
    background: rgb(129,232,233);
    background: linear-gradient(90deg, rgba(129,232,233,1) 0%, rgb(146, 234, 140) 100%);
    clip-path: inset(-1% -1% 50% -1%);
    position: absolute;
    border-radius: 1.25rem;
}
section {
    display: flex;
}
.main_a {
    /* text alignment */
    display: flex;
    justify-content: center;
    align-items:center;

    /* transition: all 1s ease-in-out; */
    /* not working not sure why */

    /* text mods */
    text-decoration: none;
    color: white;
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;

    /* gradient boxes */
    height: 12rem;
    width: 12rem;
    margin:2.5rem;
    border-radius: 1.5rem;
    /* background: rgb(129,232,233); */
    background: linear-gradient(0deg, rgba(129,232,233,1) 0%, rgba(118,228,124,1) 100%);
}
.main_a:hover {
    background: rgba(118,228,124,1);
    background: linear-gradient(0deg, rgba(118,228,124,1) 0%, rgba(129,232,233,1) 100%);
    
}
.section_container {
    display: flex;
    justify-content:space-around;
}
.subpage_sections{
    margin: 4rem;
}
.main_h3{
    font-size: 3rem;
    background: -webkit-linear-gradient(rgb(129,232,233), rgb(146, 234, 140));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*  */

footer {
    margin-top:auto;
    display: flex;
    justify-content:space-around;
    align-items:center;
}
.h3_footer_wrapper{
    text-decoration: none;
}
.footer_h3{
    font-family: 'Shrikhand', cursive;
    font-size: 2.5rem;

    /* font gradient */
    background: -webkit-linear-gradient(rgb(129,232,233), rgb(146, 234, 140));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 1.5rem;
}
.footer_ul{
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.footer_li{
    list-style-type: none;
}
.footer_a{
    /* text alignment */
    display: flex;
    justify-content: center;
    align-items:center;

    /* text */
    font-family: 'Shrikhand', cursive;
    font-size: 1.25rem;
    text-decoration: none;
    margin-left: 3.5rem;

    /* box */
    height: 2rem;
    width: 6.75rem;
    border-radius: .5rem;

    /* font gradient */
    background: -webkit-linear-gradient(rgb(129,232,233), rgb(146, 234, 140));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer_a:hover{
    background: -webkit-linear-gradient(rgb(129,232,233), rgb(146, 234, 140));
    -webkit-text-fill-color: white;
}
